<configuration packagingData="true" debug="false" scan="false" scanPeriod="30 seconds">
	<contextName>${log.contextName}</contextName>
	<property name="PATTERN"
			  value="%boldYellow([%X{sessionID}]) %boldBlue(%cn) : %highlight(%-5level) %cyan(%logger{40}) - %m%n%xException" />

	<!-- ROLLING FILE -->
	<appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.rolling-file.path}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.rolling-file.path}.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
		<withJansi>true</withJansi>
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>
	<appender name="ROLLING_FILE_TIMES" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.rolling-file.path}.times</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.rolling-file.path}.times.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
		<withJansi>true</withJansi>
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>
	<appender name="ROLLING_FILE_TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.rolling-file.path}.trace</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.rolling-file.path}.trace.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
		<withJansi>true</withJansi>
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>TRACE</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!-- FILE -->
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${log.file.path}</file>
		<withJansi>true</withJansi>
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>
	<appender name="FILE_TIMES" class="ch.qos.logback.core.FileAppender">
		<file>${log.file.path}.times</file>
		<withJansi>true</withJansi>
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>
	<appender name="FILE_TRACE" class="ch.qos.logback.core.FileAppender">
		<file>${log.file.path}.trace</file>
		<withJansi>true</withJansi>
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>TRACE</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!-- SYSLOG -->
	<appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
		<!-- PASSED FROM POM.XML / MAVEN BUILD PROPS -->
		<facility>${log.facility}</facility>
		<throwableExcluded>true</throwableExcluded>
		<suffixPattern>${PATTERN}</suffixPattern>
		<withJansi>true</withJansi>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>
	<appender name="SYSLOG_TIMES" class="ch.qos.logback.classic.net.SyslogAppender">
		<!-- PASSED FROM POM.XML / MAVEN BUILD PROPS -->
		<facility>${log.facility}</facility>
		<throwableExcluded>true</throwableExcluded>
		<suffixPattern>${PATTERN}</suffixPattern>
		<withJansi>true</withJansi>
	</appender>
	<appender name="SYSLOG_TRACE" class="ch.qos.logback.classic.net.SyslogAppender">
		<!-- PASSED FROM POM.XML / MAVEN BUILD PROPS -->
		<facility>${log.facility}</facility>
		<throwableExcluded>true</throwableExcluded>
		<suffixPattern>${PATTERN}</suffixPattern>
		<withJansi>true</withJansi>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>TRACE</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<root>
		<priority value="debug"/>
		<appender-ref ref="${log.to}_TRACE"/>
		<appender-ref ref="${log.to}"/>
	</root>

	<!-- keep Spring quiet -->
	<logger name="org.springframework" level="warn"/>
	<logger name="org.springframework.security.core.SpringSecurityCoreVersion" level="info"/>
	<logger name="org.mitre.openid.connect.config.JsonMessageSource" level="warn"/>
	<logger name="org.apache" level="warn"/>
	<logger name="org.apache.directory" level="warn"/>
	<logger name="org.apache.directory.ldap.client.api.LdapNetworkConnection" level="error"/>
	<logger name="com.zaxxer.hikari" level="warn"/>
	<logger name="org.mitre" level="info"/>
	<!-- PASSED FROM POM.XML / MAVEN BUILD PROPS -->
	<logger name="cz.muni.ics.oidc" level="${log.level}"/>
	<logger name="cz.muni.ics.oidc.aop.ExecutionTimeLoggingAspect" level="trace">
		<appender-ref ref="${log.to}_TIMES" />
	</logger>
	<logger name="org.mitre.openid.connect.web.EndSessionEndpoint" level="${log.level}"/>
	<logger name="net.javacrumbs.shedlock" level="error"/>

</configuration>
