<configuration packagingData="true" debug="false" scan="false" scanPeriod="30 seconds">
	<contextName>${log.contextName}</contextName>

	<if condition='isDefined("catalina.base")'>
		<then>
			<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
				<file>${catalina.base}/logs/${CONTEXT_NAME}.log</file>
				<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
					<fileNamePattern>${catalina.base}/logs/${CONTEXT_NAME}.log.%d{yyyy-MM-dd}</fileNamePattern>
				</rollingPolicy>
				<encoder>
					<pattern>%d %-5level %logger - %msg%n</pattern>
				</encoder>
			</appender>
		</then>
		<else>
			<appender name="FILE" class="ch.qos.logback.core.ConsoleAppender">
				<encoder>
					<pattern>%d [%thread] %-5level %logger{120} - %msg%n</pattern>
				</encoder>
			</appender>
		</else>
	</if>
	<appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
		<!-- PASSED FROM POM.XML / MAVEN BUILD PROPS -->
		<facility>${log.facility}</facility>
		<throwableExcluded>true</throwableExcluded>
		<suffixPattern>[%thread] %cn : %-5level %logger{40} - %m%n%xException</suffixPattern>
	</appender>

	<root level="info">
		<!-- PASSED FROM POM.XML / MAVEN BUILD PROPS -->
		<appender-ref ref="${log.to}"/>
	</root>

	<!-- keep Spring quiet -->
	<logger name="org.springframework" level="warn"/>
	<logger name="org.springframework.security" level="warn"/>
	<logger name="org.springframework.security.core.SpringSecurityCoreVersion" level="info"/>
	<logger name="org.mitre.openid.connect.config.JsonMessageSource" level="warn"/>
	<logger name="org.apache.directory" level="warn"/>
	<logger name="org.apache.directory.ldap.client.api.LdapNetworkConnection" level="error"/>
	<!--<logger name="org.springframework.security.authentication" level="info"/>-->
	<!--<logger name="org.springframework.security.web.authentication" level="info"/>-->
	<!--<logger name="org.springframework.http.client" level="debug"/>-->
	<!--<logger name="org.springframework.web.client" level="debug"/>-->
	<logger name="com.zaxxer.hikari" level="warn"/>
	<logger name="org.mitre" level="info"/>
	<!-- PASSED FROM POM.XML / MAVEN BUILD PROPS -->
	<logger name="cz.muni.ics.oidc" level="debug"/>
	<logger name="cz.muni.ics.oidc.server.filters" level="error"/>
	<logger name="cz.muni.ics.oidc.server.PerunUserInfo" level="info"/>
<!--	<logger name="cz.muni.ics.oidc.server.PerunUserInfoService" level="trace"/>-->
	<logger name="cz.muni.ics.oidc.server.PerunAccessTokenEnhancer" level="warn"/>
	<logger name="cz.muni.ics.oidc.server.PerunAuthenticationUserDetailsService" level="info"/>
<!--	<logger name="cz.muni.ics.oidc.server.elixir.GA4GHClaimSource" level="trace"/>-->
	<logger name="org.mitre.openid.connect.web.EndSessionEndpoint" level="trace"/>

</configuration>
